<div class="uk-flex">
    <mat-card class="uk-width-viewport uk-height-viewport">
        <div class="uk-flex">
            <h3>Add Article</h3>
        </div>
        <mat-card-content>
            <mat-form-field class="uk-width-1-1">
                <mat-label>Title</mat-label>
                <input matInput type="text" placeholder="Title" value="">
            </mat-form-field>
            <mat-form-field class="uk-width-1-1">
                <mat-label>Creator Name</mat-label>
                <input matInput type="text" placeholder="Creator Name" value="">
            </mat-form-field>
            <mat-form-field class="uk-width-1-1">
                <mat-label>Creator Date</mat-label>
                <input matInput type="text" placeholder="Creator Date" value="">
            </mat-form-field>
            <div class="uk-flex uk-flex-right">
                <button mat-raised-button color="primary">SAVE</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>