<mat-toolbar style="background-color:#232323; ">
    <span routerLink="/" style="
        cursor: pointer;
        color: white;
        padding-top: 10px; 
        padding-bottom: 10px; 
        padding-left: 15px; 
        padding-right: 15px;
    ">
        Articles Angular
    </span>
    <span routerLink="/public" style="
        cursor: pointer;
        color: white;
        padding-top: 10px; 
        padding-bottom: 10px; 
        padding-left: 15px; 
        padding-right: 15px;
    ">
        Public Page
    </span>
    <span routerLink="/user" style="
        cursor: pointer;
        color: white;
        padding-top: 10px; 
        padding-bottom: 10px; 
        padding-left: 15px; 
        padding-right: 15px;
    ">
        User Page
    </span>
</mat-toolbar>


<router-outlet></router-outlet>