<div class="uk-flex">
    <mat-card class="uk-width-viewport">
        <div class="uk-flex">
            <h1>Add Product</h1>
        </div>
        <mat-card-content>
            <mat-form-field class="uk-width-1-1">
                <mat-label>ID</mat-label>
                <input matInput type="text" placeholder="ID" value="">
            </mat-form-field>
            <mat-form-field class="uk-width-1-1">
                <mat-label>Product Name</mat-label>
                <input matInput type="text" placeholder="Product Name" value="">
            </mat-form-field>
            <mat-form-field class="uk-width-1-1">
                <mat-label>Input Date</mat-label>
                <input matInput type="text" placeholder="Input Date" value="">
            </mat-form-field>
            <mat-form-field class="uk-width-1-1">
                <mat-label>Price</mat-label>
                <input matInput type="number" placeholder="Price" value="">
            </mat-form-field>
            <div class="uk-flex uk-flex-right">
                <button mat-raised-button color="primary">SAVE</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>