<mat-toolbar style="background-color:#232323; ">
    <span routerLink="/" style="
        cursor: pointer;
        color: white;
        padding-top: 10px; 
        padding-bottom: 10px; 
        padding-left: 15px; 
        padding-right: 15px;
    ">
        Articles Angular
    </span>
    <!-- <span routerLink="/public" style="
        cursor: pointer;
        color: white;
        padding-top: 10px; 
        padding-bottom: 10px; 
        padding-left: 15px; 
        padding-right: 15px;
    ">
        Public Page
    </span>
    <span routerLink="/user" style="
        cursor: pointer;
        color: white;
        padding-top: 10px; 
        padding-bottom: 10px; 
        padding-left: 15px; 
        padding-right: 15px;
    ">
        User Page
    </span> -->
</mat-toolbar>


<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport">
    <mat-card class="uk-width-1-3@m">
        <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
            <h3>Register</h3>
        </div>
        <mat-card-content>
            <mat-form-field class="uk-width-1-1">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Fullname" value="">
            </mat-form-field>
            <mat-form-field class="uk-width-1-1">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Ex. email@domain.com" value="">
            </mat-form-field>
            <mat-form-field class="uk-width-1-1">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Your password" value="">
            </mat-form-field>
            <mat-form-field class="uk-width-1-1">
                <mat-label>Re-type Password</mat-label>
                <input matInput type="password" placeholder="Your password" value="">
            </mat-form-field>
            <div class="uk-flex uk-flex-right">
                <div class="uk-width-expand">
                    <button mat-button routerLink="/login">I have an account</button>
                    <button mat-button routerLink="/forgot">Forgot</button>
                </div>
                <button mat-raised-button color="primary">REGISTER</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<!-- <h1>Welcome to my Angular Front End Web Developer</h1>
<button routerLink="/login" mat-button style="width: 150px; font-size: 18px;">
    Login
</button>
<button routerLink="/register" mat-button style="width: 150px;background: red; color: white; font-size: 18px;">
    Register
</button>

<h1>This is Register Page</h1>
<form action="" style="margin-right: 30px;">
    <input type="email" placeholder="Email" style="
        border: 1px solid #ABABAB; 
        border-radius: 5px;
        width: 100%; 
        height: 35px; 
        padding-left: 10px; 
        padding-right: 10px; 
        margin-bottom: 15px;
        font-size: 18px;
    ">
    <input type="password" placeholder="Password" style="
        border: 1px solid #ABABAB; 
        border-radius: 5px;
        width: 100%; 
        height: 35px; 
        padding-left: 10px; 
        padding-right: 10px; 
        margin-bottom: 15px;
        font-size: 18px;
    ">
    <input type="text" placeholder="Fullname" style="
        border: 1px solid #ABABAB; 
        border-radius: 5px;
        width: 100%; 
        height: 35px; 
        padding-left: 10px; 
        padding-right: 10px; 
        margin-bottom: 15px;
        font-size: 18px;
    ">
</form> -->